/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: articulat-cf, sans-serif;
    font-size: 18px;
}

/* Font Styling */
h1 {
    font-family: articulat-heavy-cf, sans-serif;
    font-weight: 900;
    font-size: 4em;
    line-height: 1em;
}

h2 {
    font-family: articulat-heavy-cf, sans-serif;
    font-weight: 900;
    font-size: 2.5em;
}

h3 {
    font-weight: 700;
}

p {
    font-weight: 300;
}

/* Primary HTML Elements */
main {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

/* Specific elements by Class */
.city-btn {
    width: 100%;
    max-width: 315px;
}

/* Specific elements by ID */
#hero-section {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 25px;
}

#primary-weather-search {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
}

@media screen and (max-width: 505px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.5em;
    }
}